html {
    height: 100%;
    background-color: #FFE08C
}


.header { 
    font-size: 100px;
    font-family: 'Vidaloka', serif;
    text-align: center;
    color:#1C5253;
    
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
